<li class="flex mb-2 py-3 px-2 font-light md:font-normal text-indigo-500
          bg-indigo-50 rounded-xl">
  <p class="inline-flex items-center justify-center leading-relaxed text-base">
    <svg
      class="w-4 h-4 fill-[none] stroke-current stroke-2"
      stroke-linecap="round"
      stroke-linejoin="round">
      <use href="/assets/feather-sprite.svg#file" />
    </svg>

    <span class="inline-block mx-2 text-base">
      <%= document.file.filename.to_s %>
    </span>
  </p>

  <%= link_to(
    url_for(document.file),
    target: "_blank",
    rel: "noopener noreferrer",
    class: "inline-block ml-auto"
  ) do %>
    <div
      class="inline-flex items-center justify-center h-6
             rounded-lg bg-indigo-400 hover:bg-indigo-500 text-indigo-50">
      <span class="hidden sm:inline-block pl-2 text-xs">Open</span>
      <svg
        class="w-4 h-4 fill-[none] stroke-current stroke-2 mx-2"
        stroke-linecap="round"
        stroke-linejoin="round">
        <use href="/assets/feather-sprite.svg#external-link" />
      </svg>
    </div>
  <% end %>

  <%= link_to(
    rails_blob_path(document.file, disposition: 'attachment'),
    class: "inline-block ml-2"
  ) do %>
    <div
      class="inline-flex items-center justify-center h-6
             rounded-lg bg-indigo-400 hover:bg-indigo-500 text-indigo-50">
      <span class="hidden sm:inline-block pl-2 text-xs">Download</span>
      <svg
        class="w-4 h-4 fill-[none] stroke-current stroke-2 mx-2"
        stroke-linecap="round"
        stroke-linejoin="round">
        <use href="/assets/feather-sprite.svg#download" />
      </svg>
    </div>
  <% end %>
</li>

