<h3 class="pt-0 text-xl font-medium text-gray-900">
  Edit Property Record
</h3>

<%= turbo_frame_tag "dashboard-content" do %>
  <div class="p-4">
    <%= render "form", property: @property %>

    <%= link_to(
      "Cancel",
      properties_owners_dashboard_path,
      class: "block mt-2 w-full btn btn--normal btn--error"
    )%>
  </div>
<% end %>
