<p>Hello <%= @resource.profile.full_name %>!</p>

<p>Welcome to web application for Lotus Boulevard Apartment Owners Association.</p>

<p>You are requested to confirm your account's email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>
  After confirming your account's email, please sign in to LBAOA web app and link your property with your account.
</p>

<%= render partial: "accounts/owners/mailer/footer" %>
