<div class="p-4 mx-auto max-w-md bg-white sm:rounded-lg sm:border sm:border-gray-200
            sm:shadow-md sm:p-6 lg:p-8">

  <h3 class="mb-4 pt-0 text-xl font-medium text-gray-900">
    Update <%= resource_name.to_s.humanize %>'s Account Settings
  </h3>

  <%= render partial: "form_edit", locals: { resource: resource, resource_name: resource_name } %>
</div>
