<div
  class="fixed z-30 inset-0 overflow-y-auto"
  aria-labelledby="modal-component"
  role="dialog"
  aria-modal="true"
  data-modal-target="modal"
>
  <div
    class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20
           text-center sm:block sm:p-0"
  >
    <div
      class="fixed inset-0 bg-gray-900 bg-opacity-50 transition-opacity"
      aria-hidden="true"
    >
    </div>

    <%# a weird little trick to make sure that the modal is centered %>
    <%# if it's shorter than the viewport, %>
    <%# but if it's taller then the modal backdrop area becomes scrollable %>
    <span
      class="hidden sm:inline-block sm:align-middle sm:h-screen"
      aria-hidden="true"
    >
      &#8203;
    </span>

    <div 
      class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4
             text-left overflow-hidden shadow-xl transform transition-all
             sm:my-8 sm:align-middle sm:max-w-xl sm:w-full sm:p-6"
    >
      <%= content %>
    </div>
  </div>
</div>
