<%= turbo_frame_tag "modal" do %>
  <div
    class="fixed z-10 inset-0 overflow-y-auto"
    aria-labelledby="modal-title"
    role="dialog"
    aria-modal="true"
    data-search--post--modal-target="modal"
    data-action="click@window->search--post--modal#removeModal"
  >
    <div
      class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20
             text-center sm:block sm:p-0"
    >
      <div
        class="fixed inset-0 bg-gray-900 bg-opacity-50 transition-opacity"
        aria-hidden="true"
      >
      </div>

      <span
        class="hidden sm:inline-block sm:align-middle sm:h-screen"
        aria-hidden="true"
      >
        &#8203;
      </span>

      <div 
        class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4
               text-left overflow-hidden shadow-xl transform transition-all
               sm:my-8 sm:align-middle sm:max-w-xl sm:w-full sm:p-6"
      >
        <%= render "form", post_form: @post_form  %>
      </div>
    </div>
  </div>
<% end %>
