<%= turbo_frame_tag :search_results do %>
  <div class="grid gap-10 lg:grid-cols-2 2xl:grid-cols-3">
    <%=
      render(partial: "front/posts/post", collection: @results, as: :post) ||
      "There are no results for this query"
    %>
  </div>

  <br class="hidden lg:block">
  
  <%= render(
    partial: "shared/navigation_controls",
    locals: {
      frame: "results",
      pagy: @pagy,
      prev_path: @pagy.prev ?
        search_posts_path(
          page: @pagy.prev,
          category_id: params[:category_id],
          tags_list: params[:tags_list],
          start_date: params[:start_date],
          end_date: params[:end_date]
        ) :
        "#",
      next_path: @pagy.next ?
        search_posts_path(
          page: @pagy.next,
          category_id: params[:category_id],
          tags_list: params[:tags_list],
          start_date: params[:start_date],
          end_date: params[:end_date]
        ) :
        "#"
    }
  )%>
<% end %>
