<p class="bg-green-50 text-green-600 text-sm rounded-lg p-4 mb-2">
Reference token for this bid is 
<span class="font-bold"><%= @bid.quotation_token %></span>.
<br>
Your bid was successfully submitted.
<br>
Please do not share this reference token with anyone else.
</p>
