<div class="mx-auto w-10/12 sm:w-9/12 md:w-8/12 lg:w-11/12 xl:w-10/12 2xl:w-9/12
            space-y-12 sm:space-y-8 lg:space-y-0
            lg:flex lg:flex-wrap lg:gap-y-10">
  <%= render @posts %>
</div>
