<%= turbo_frame_tag :published_posts do %>
  <div class="grid gap-10 md:grid-cols-2 xl:grid-cols-3 mb-4">
    <%= render(partial: "post", collection: @posts, locals: { frame: "main" }) || "There are no posts yet" %>
  </div>

  <br class="hidden lg:block">
  
  <%= render(
    partial: "shared/navigation_controls",
    locals: {
      pagy: @pagy,
      prev_path: @pagy.prev ? posts_path(page: @pagy.prev) : "#",
      next_path: @pagy.next ? posts_path(page: @pagy.next) : "#"
    }
  )%>
<% end %>
