<div
  id="<%= dom_id(apartment) %>"
  class="apartment p-2 bg-white rounded-lg shadow border-b border-b-fuchsia-50">
  <h3 class="text-sm text-gray-400">Apartment Info</h3>
  <h1 class="text-base text-gray-800">
    <%= apartment.tower_number %> / <%= apartment.flat_number %>
  </h1>
  
  <h3 class="mt-2 text-sm text-gray-400">Membership Stats</h3>
  <div class="flex justify-between items-center">
    <p class="text-sm text-gray-800">
      <%= apartment.properties.count %> record(s) linked
    </p>
  </div>
</div>
