<div class="mx-auto w-10/12 md:w-10/12 lg:w-9/12 xl:w-7/12 2xl:w-6/12">
  <div class="mb-6">
    <%= render(Link::DefaultButtonComponent.new(
      href: new_discussion_path,
      variant: :secondary
    )) do |c| %>
      <% c.with_icon do %>
        <%= render(Icon::Outline::PlusCircleComponent.new(
          classes: "w-5 h-5"
        )) %>
      <% end %>

      <% c.with_text.with_content("Start a new discussion") %>
    <% end %>
  </div>

  <div id="discussions-list" class="space-y-2 mb-8">
    <%= render(Discussion::ListItemComponent.with_collection(@discussions)) %>
  </div>

  <%= render(
    partial: "shared/navigation_controls",
    locals: {
      pagy: @pagy,
      prev_path: @pagy.prev ? discussions_path(page: @pagy.prev) : "#",
      next_path: @pagy.next ? discussions_path(page: @pagy.next) : "#"
    }
  )%>
</div>
