<h1 class="mb-4">
  Documents attached to <%= link_to @post.title, [:cms, @post], class: "font-bold text-indigo-700 underline underline-offset-2" %>
</h1>

<div class="lg:w-1/2 p-5 border-t-4 border-dashed">
  <%= render partial: "form", locals: { post: @post, document: @document } %>
</div>

<ul class="lg:w-1/2 p-5 mb-4 border-t-4 border-dashed">
  <%= turbo_frame_tag "post-documents" do %>
    <%= render(
      partial: "post_document",
      collection: @post.documents.reject(&:new_record?),
      as: :document,
      locals: {post: @post}
    )%>
  <% end %>
</ul>
