<div class="category p-2 bg-white rounded-lg shadow border-b border-b-fuchsia-50">
  <%= turbo_frame_tag dom_id(category) do %>
    <h1 class="text-lg text-gray-800 capitalize"><%= category.name %></h1>

    <div class="flex justify-between mt-2">
      <div class="inline-flex rounded-md shadow-sm" role="group">
        <%= link_to(
          "Edit", 
          edit_cms_category_path(category),
          class: "py-1 px-3 text-xs font-medium text-gray-600
                  bg-white border border-gray-200 rounded-md
                  hover:bg-gray-100 hover:text-lb-500 focus:z-10
                  focus:ring-2 focus:ring-lb-500 focus:text-lb-500"
        )%>
      </div>
    </div>
  <% end %>
</div>
