<div class="mx-auto w-1/2">
  <div class="px-2 py-2 bg-fuchsia-50 rounded-lg shadow">
    <h1 class="mb-4 text-2xl text-lb-500 font-bold capitalize">
      Categories
    </h1>

    <div class="space-y-3">
      <%= render categories %>
    </div>
  </div>
</div>
