<%= form_with(
  model: discussion,
  url: management_discussion_path(discussion),
  method: :patch,
  class: "inline-flex gap-x-2 items-center",
  id: dom_id(discussion, :form),
  data: { controller: "form--submission" }
) do |form| %>
  <span class="text-sm font-medium text-neutral-500">Unlocked</span>

  <%= label_tag(
    dom_id(discussion, :accessibility_state),
    "",
    class: "inline-flex relative items-center cursor-pointer",
    data: { action: "click->form--submission#requestSubmitForm:prevent" }
  ) do %>
    <%= form.check_box(
      :accessibility_state,
      {
        id: dom_id(discussion, :accessibility_state),
        class: "sr-only peer",
        checked: discussion.locked?
      },
      "unlocked", "locked"
    ) %>
    <%= content_tag(
      :div,
      class: "w-8 h-4 bg-green-500 rounded-full peer-checked:bg-red-500
              peer-checked:after:translate-x-full peer-checked:after:border-white
              after:content-[''] after:absolute after:top-0.5 after:left-[3px]
              after:bg-white after:border-green-500 after:border after:rounded-full
              after:h-3 after:w-3 after:transition-all"
    ) do -%>
    <% end -%>
  <% end %>

  <span class="text-sm font-medium text-neutral-500">Locked</span>
<% end %>
