<div
  id="<%= dom_id(discussion) %>"
  class="discussion p-2 bg-white rounded-lg shadow border-b border-b-fuchsia-50"
  data-dashboard--list-target="item">
  <h1 class="text-base text-gray-800"><%= discussion.subject %></h1>
</div>
