<div class="px-2 py-2 bg-fuchsia-50 rounded-lg shadow">
  <h1 class="mb-4 text-2xl text-lb-500 font-bold capitalize">
    Discussions
  </h1>

  <div class="space-y-3">
    <%= render partial: "management/discussions/item", collection: discussions, as: :discussion %>

    <%= render(
      partial: "management/discussions/navigation_controls",
      locals: {
        pagy: pagy,
        prev_path: pagy.prev ? management_discussions_path(page: pagy.prev) : "#",
        next_path: pagy.next ? management_discussions_path(page: pagy.next) : "#"
      }
    )%>
  </div>
</div>
