<li class="flex mb-2 py-3 px-2 font-light md:font-normal text-purple-500
          bg-purple-50 rounded-xl">
  <p class="inline-flex items-center justify-center leading-relaxed text-base">
    <svg
      class="w-4 h-4 fill-[none] stroke-current stroke-2"
      stroke-linecap="round"
      stroke-linejoin="round">
      <use href="/assets/feather-sprite.svg#file" />
    </svg>

    <span class="inline-block mx-2 text-base">
      <%= document.file.filename.to_s %>
    </span>
  </p>

  <% if document.file.representable? %>
    <%= link_to(
      url_for(document.file),
      target: "_blank",
      rel: "noopener noreferrer",
      class: "inline-block ml-auto"
    ) do %>
      <div
        class="inline-flex items-center justify-center h-6
               rounded-lg bg-purple-400 hover:bg-purple-500 text-purple-50">
        <span class="hidden sm:inline-block pl-2 text-xs">Open</span>
        <svg
          class="w-4 h-4 fill-[none] stroke-current stroke-2 mx-2"
          stroke-linecap="round"
          stroke-linejoin="round">
          <use href="/assets/feather-sprite.svg#external-link" />
        </svg>
      </div>
    <% end %>
  <% end %>

  <%= link_to(
    rails_blob_path(document.file, disposition: 'attachment'),
    class: "inline-block #{document.file.representable? ? 'ml-2' : ' ml-auto'}"
  ) do %>
    <div
      class="inline-flex items-center justify-center h-6
             rounded-lg bg-purple-400 hover:bg-purple-500 text-purple-50">
      <span class="hidden sm:inline-block pl-2 text-xs">Download</span>
      <svg
        class="w-4 h-4 fill-[none] stroke-current stroke-2 mx-2"
        stroke-linecap="round"
        stroke-linejoin="round">
        <use href="/assets/feather-sprite.svg#download" />
      </svg>
    </div>
  <% end %>
</li>
