<div
  class="mx-auto w-1/2"
  data-controller="dashboard--list"
  data-dashboard--list-target="list"
  data-dashboard--list-source-value=""
  data-dashboard--list-item-value="">
  <%= turbo_frame_tag(
    "#{@status}_tenders"
  )do %>
    <%= render partial: "list", locals: {
      status: @status, tenders: @tenders, pagy: @pagy 
    } %>
  <% end %>
</div>
