<div id="dashboard-account" class="overflow-x-auto relative">
  <table class="w-full break-all">
    <tbody>
      <tr>
        <th scope="row" class="py-4 px-6 whitespace-nowrap capitalize font-normal">
          e-mail address
        </th>
        <td class="py-4 px-6 font-medium text-gray-900">
          <%= current_owner.email %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
