<div id="dashboard-properties" class="overflow-x-auto relative rounded-lg">
  <table class="w-full break-words">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
      <tr class="text-center align-top">
        <th scope="col" class="py-3 px-1 sm:px-4 lg:px-6">
          Tower
        </th>
        <th scope="col" class="py-3 px-1 sm:px-4 lg:px-6">
          Flat
        </th>
        <th scope="col" class="py-3 px-1 sm:px-4 lg:px-6">
          Membership Status
        </th>
        <th scope="col">
        </th>
        <th scope="col">
        </th>
      </tr>
    </thead>
    <tbody>
      <%= render properties %>

      <tr>
        <th scope="row" class="py-3 px-1 sm:px-4 lg:px-6" colspan="3">
          <%= link_to(
            "Add Property",
            new_owners_property_path,
            class: "btn btn--small btn--primary w-full"
          )%>
        </th>
      </tr>
    </tbody>
  </table>
</div>
