<div id="dashboard-properties" class="overflow-x-auto relative rounded-lg">
  <table class="w-full break-words">
    <thead class="text-xs text-lb-500 uppercase bg-fuchsia-50">
      <tr class="text-center align-top">
        <th scope="col" class="py-3 px-1 sm:px-4 lg:px-6">
          Tower
        </th>
        <th scope="col" class="py-3 px-1 sm:px-4 lg:px-6">
          Flat
        </th>
        <th scope="col" class="py-3 px-1 sm:px-4 lg:px-6">
          Membership Status
        </th>
        <th scope="col">
        </th>
        <th scope="col">
        </th>
      </tr>
    </thead>
    <tbody>
      <%= render properties %>

      <tr>
        <th scope="row" class="py-4 px-6" colspan="3">
          <%= render(Link::DefaultButtonComponent.new(
            href: new_owners_property_path,
            size: "small"
          )) do |c| %>
            <% c.with_text.with_content("Add Property") %>

            <% c.with_icon do %>
              <%= render(Icon::Outline::HomeComponent.new(
                classes: "w-4 h-4 text-white"
              )) %>
            <% end %>
          <% end %>
        </th>
      </tr>
    </tbody>
  </table>
</div>
