<div id="dashboard-properties" class="overflow-x-auto relative rounded-lg">
  <table class="w-full break-words">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
      <tr class="text-center align-top">
        <th scope="col" class="py-3 px-1 sm:px-4 lg:px-6">
          Tower
        </th>
        <th scope="col" class="py-3 px-1 sm:px-4 lg:px-6">
          Flat
        </th>
        <th scope="col" class="py-3 px-1 sm:px-4 lg:px-6">
          Membership Status
        </th>
        <th scope="col">
        </th>
        <th scope="col">
        </th>
      </tr>
    </thead>
    <tbody>
      <%= render properties %>
    </tbody>
  </table>
</div>
