<% if @commentable.instance_of?(Discussion) %>
  <%= render(Discussion::ItemComponent.new(discussion: @commentable, view: :new)) %>
<% else %>
  <%= render(Comment::ItemComponent.new(comment: @commentable, view: :new)) %>
<% end %>

<div
  class="my-4 mx-auto w-10/12 md:w-10/12 lg:w-9/12 xl:w-7/12 2xl:w-6/12 sm:p-4
         sm:rounded-lg sm:shadow-sm sm:shadow-blue-50 sm:border sm:border-blue-50"
>
  <%= render "form", commentable: @commentable, comment: @comment %>
</div>
