<div
  id="<%= dom_id(owner) %>"
  class="membership p-2 bg-white rounded-lg shadow border-b border-b-fuchsia-50">
  <h3 class="text-sm text-gray-400">Full Name</h3>
  <h1 class="text-base text-gray-800"><%= owner.profile.full_name %></h1>
  
  <h3 class="mt-2 text-sm text-gray-400">Account Status</h3>
  <div class="flex justify-between items-center">
    <p class="text-sm text-gray-800 capitalize">
      <%= owner.account_status %>
    </p>
    <% unless owner.unlinked? %>
      <%= link_to(
        "View linked memberships", 
        management_owners_memberships_path(owner),
        data: { turbo_action: "advance" },
        class: "py-1 px-3 text-xs font-medium text-gray-600
        bg-white rounded-md border border-gray-200
        hover:bg-gray-100 hover:text-lb-500 focus:z-10
        focus:ring-2 focus:ring-lb-500 focus:text-lb-500"
      )%>
    <% end %>
  </div>
</div>
