<div
  id="<%= dom_id(owner) %>"
  class="membership p-2 bg-white rounded-lg shadow border-b border-b-fuchsia-50">
  <h3 class="text-sm text-gray-400">Full Name</h3>
  <h1 class="text-base text-gray-800"><%= owner.profile.full_name %></h1>
  
  <h3 class="mt-2 text-sm text-gray-400">Account Status</h3>
  <div class="flex justify-between items-center">
    <p class="text-sm text-gray-800 capitalize">
      <%= owner.account_status %>
    </p>
  </div>
</div>
