<%= turbo_frame_tag "main" do %>
  <div class="mx-auto w-1/2">
    <%= render "form", owners_form: @owners_form  %>

    <% unless @owners_form.details_missing? %>
      <div id="owners" class="mt-8">
        <%= render(@owners) || "No record(s) found" %>
      </div>
    <% end %>
  </div>
<% end %>
