<%= turbo_frame_tag "main" do %>
  <div class="mx-auto w-1/2">
    <%= render "form", owners_form: @owners_form  %>

    <% if @owners_form.email.present? %>
      <div id="owners" class="mt-8">
        <%= render(@owners) || "No record found for #{@owners_form.email}" %>
      </div>
    <% end %>
  </div>
<% end %>
