<div>
  This is an auto generated message sent from an account used for sending messages only.
  If you reply back to this account we will not get your message.
  Instead, use <%= mail_to "board@lbaoa.com" %> to reach us.
</div>
