<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<div>
  This is a system generated email. Please do not reply back to this address.
  You can send your reply to LBAOA board at <%= mail_to "board@lbaoa.com" %>.
</div>
