<h1 class="mb-12 text-3xl font-semibold text-lb-soft-400">
  Management dashboard for Admins
</h1>

<div class="w-full bg-indigo-50 rounded-lg py-4 px-6">
  <%= link_to(
    "Create Post",
    new_cms_post_path,
    class: "block btn btn--small btn--secondary mb-6"
  )%>

  <div class="flex flex-wrap">
    <div class="basis-1/2 pr-4">
      <div class="px-2 py-2 bg-indigo-100 rounded-lg shadow">
        <h1 class="mb-4 text-2xl text-indigo-800 font-bold">
          Draft Posts
        </h1>

        <%= turbo_frame_tag(
          :drafts,
          src: management_drafts_path,
          class: "space-y-3"
        ) do %>
          Loading...
        <% end %>
      </div>
    </div>

    <div class="basis-1/2 pl-4">
      <div class="px-2 py-2 space-y-3 bg-indigo-100 rounded-lg shadow">
        <h1 class="mb-4 text-2xl text-indigo-800 font-bold">
          Published Posts
        </h1>

        <% @published_posts.each do |post| %>
          <div class="p-2 bg-white rounded-lg shadow border-b border-b-indigo-100">
            <h1 class="text-lg text-gray-800"><%= post.title %></h1>

            <div class="flex flex-row-reverse justify-between mt-2">
              <%= link_to(
                "Attachments", 
                cms_post_documents_path(post),
                class: "block text-white bg-indigo-500 hover:bg-indigo-600
                        focus:ring-4 focus:ring-indigo-300 font-medium
                        rounded-md text-xs px-3 py-1 text-center border
                        border-indigo-400"
              )%>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
