<h1 class="mb-12 text-3xl font-semibold text-lb-soft-400 text-center">
  Management dashboard for Admins
</h1>

<div class="w-full bg-indigo-50 rounded-lg py-4 px-6">
  <%= link_to(
    "Create Post",
    new_cms_post_path,
    class: "block btn btn--small btn--secondary mb-6"
  )%>

  <div class="flex flex-wrap">
    <div class="basis-1/2 pr-4">
      <div class="px-2 py-2 bg-indigo-100 rounded-lg shadow">
        <h1 class="mb-4 text-2xl text-indigo-800 font-bold">
          Draft Posts
        </h1>

        <%= turbo_frame_tag(
          :drafts,
          src: management_drafts_path,
          class: "space-y-3"
        ) do %>
          Loading...
        <% end %>
      </div>
    </div>

    <div class="basis-1/2 pl-4">
      <div class="px-2 py-2 space-y-3 bg-indigo-100 rounded-lg shadow">
        <h1 class="mb-4 text-2xl text-indigo-800 font-bold">
          Published Posts
        </h1>

        <%= turbo_frame_tag(
          :published_posts,
          src: management_published_posts_path,
          class: "space-y-3"
        ) do %>
          Loading...
        <% end %>

      </div>
    </div>
  </div>
</div>
