<div class="p-4 mx-auto max-w-md bg-white sm:rounded-lg sm:border sm:border-gray-200
            sm:shadow-md sm:p-6 lg:p-8">
  <h3 class="mb-4 pt-0 text-xl font-medium text-gray-900">
    Update Profile Details
  </h3>

  <%= render "form", profile: @profile %>
</div>
