/* Entry point for your PostCSS build */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./actiontext.scss";

@layer components {
  .btn {
    @apply text-white bg-gradient-to-r focus:ring focus:ring-offset-1
           font-medium rounded-lg text-center;
  }

  .btn--normal {
    @apply text-sm px-5 py-2.5 mr-2 mb-2 w-32 min-w-max;
  }

  .btn--small {
    @apply text-xs px-3 py-1.5 mr-2 mb-2 w-16 min-w-max;
  }

  .btn--primary {
    @apply from-lb-200 via-lb-400 to-lb-600
           hover:from-lb-300 hover:via-lb-500 hover:to-lb-700
           focus:ring-lb-50;
  }

  .btn--primary-soft {
    @apply from-lb-soft-200 via-lb-soft-400 to-lb-soft-600
           hover:from-lb-300 hover:via-lb-500 hover:to-lb-700
           focus:ring-lb-50;
  }

  .btn--secondary {
    @apply from-indigo-400 via-indigo-500 to-indigo-600
           hover:from-indigo-500 hover:via-indigo-600 hover:to-indigo-700
           focus:ring-indigo-50;
  }

  .btn--success {
    @apply from-green-400 via-green-500 to-green-600
           hover:from-green-500 hover:via-green-600 hover:to-green-700
           focus:ring-green-50;
  }

  .btn--error {
    @apply from-red-400 via-red-500 to-red-600
           hover:from-red-500 hover:via-red-600 hover:to-red-700
           focus:ring-red-50;
  }

  .btn--purple {
    @apply from-purple-400 via-purple-500 to-purple-600
           hover:from-purple-500 hover:via-purple-600 hover:to-purple-700
           focus:ring-purple-50;
  }

  .btn--violet {
    @apply from-violet-400 via-violet-500 to-violet-600
           hover:from-violet-500 hover:via-violet-600 hover:to-violet-700
           focus:ring-violet-50;
  }
}

.field_with_errors > label {
  @apply text-red-500;
}
