<main class="container mx-auto mb-6 pt-4 px-12 lg:px-36 xl:px-60 2xl:px-80">
  <h1 class="mb-6 lg:mb-12 text-center text-2xl lg:text-3xl font-bold font-serif text-gray-800">
    Board members
  </h1>

  <div class="mx-auto max-w-md bg-white rounded-lg">
    <div class="flow-root">
      <ul role="list" class="divide-y divide-gray-200 text-center">
        <li class="py-3 sm:py-4">
          <div class="flex items-center space-x-4">
            <div class="flex-1 min-w-0">
              <p class="text-lg font-normal text-gray-900 truncate">
              Maj. Gen J.P. Singh, SC
              </p>
              <p class="text-sm text-gray-500 truncate">
              President
              </p>
            </div>
          </div>
        </li>

        <li class="py-3 sm:py-4">
          <div class="flex items-center space-x-4">
            <div class="flex-1 min-w-0">
              <p class="text-lg font-normal text-gray-900 truncate">
              Abhishek K Gupta
              </p>
              <p class="text-sm text-gray-500 truncate">
              Secretary
              </p>
            </div>
          </div>
        </li>

        <li class="py-3 sm:py-4">
          <div class="flex items-center space-x-4">
            <div class="flex-1 min-w-0">
              <p class="text-lg font-normal text-gray-900 truncate">
              Rashim Gupta
              </p>
              <p class="text-sm text-gray-500 truncate">
              Treasurer
              </p>
            </div>
          </div>
        </li>

        <li class="py-3 sm:py-4">
          <div class="flex items-center space-x-4">
            <div class="flex-1 min-w-0">
              <p class="text-lg font-normal text-gray-900 truncate">
              Dharamvir Yadav
              </p>
              <p class="text-sm text-gray-500 truncate">
              Vice President
              </p>
            </div>
          </div>
        </li>

        <li class="py-3 sm:py-4">
          <div class="flex items-center space-x-4">
            <div class="flex-1 min-w-0">
              <p class="text-lg font-normal text-gray-900 truncate">
              Gagandeep Sokhey
              </p>
              <p class="text-sm text-gray-500 truncate">
              Member
              </p>
            </div>
          </div>
        </li>

        <li class="py-3 sm:py-4">
          <div class="flex items-center space-x-4">
            <div class="flex-1 min-w-0">
              <p class="text-lg font-normal text-gray-900 truncate">
              Gita Nath
              </p>
              <p class="text-sm text-gray-500 truncate">
              Member
              </p>
            </div>
          </div>
        </li>

        <li class="py-3 sm:py-4">
          <div class="flex items-center space-x-4">
            <div class="flex-1 min-w-0">
              <p class="text-lg font-normal text-gray-900 truncate">
              Sanjiv Kumar Singh
              </p>
              <p class="text-sm text-gray-500 truncate">
              Member
              </p>
            </div>
          </div>
        </li>

        <li class="py-3 sm:py-4">
          <div class="flex items-center space-x-4">
            <div class="flex-1 min-w-0">
              <p class="text-lg font-normal text-gray-900 truncate">
              Shikha Ghai
              </p>
              <p class="text-sm text-gray-500 truncate">
              Member
              </p>
            </div>
          </div>
        </li>

        <li class="pt-3 pb-0 sm:pt-4">
          <div class="flex items-center space-x-4">
            <div class="flex-1 min-w-0">
              <p class="text-lg font-normal text-gray-900 truncate">
              Vandana Gupta
              </p>
              <p class="text-sm text-gray-500 truncate">
              Member
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</main>
