<main class="container mx-auto mb-6 pt-4 px-4 sm:px-12 lg:px-36 xl:px-60 2xl:px-80">
  <h1 class="mb-8 lg:mb-12 text-center text-xl lg:text-2xl font-bold font-serif text-gray-800">
    Terms and Conditions
  </h1>

  <p class="text-gray-600 mb-2">
    Please read these Terms and Conditions ("Terms and Conditions", "Terms") carefully
    before using the LBAOA website (the "Service") operated by Lotus Boulevard Apartment
    Owners Association ("us", "we", "our", or "LBAOA").
  </p>

  <p class="text-gray-600 mb-2">
    Your access to and use of the Service is conditioned on your acceptance of and
    compliance with these Terms. These Terms apply to all visitors, users and others
    who access or use the Service.
  </p>

  <p class="text-gray-600 mb-8">
    By accessing or using the Service you agree to be bound by these Terms. If
    you disagree with any part of the terms, then you may not access the Service.
  </p>

  <section class="mb-8">
    <h2 class="mb-4 text-lg font-semibold font-serif text-gray-800">
      Intellectual Property
    </h2>

    <p class="text-gray-800">
      The Service and its original content are and will remain the exclusive
      property of Lotus Boulevard Apartment Owners Association.
    </p>
  </section>

  <section class="mb-8">
    <h2 class="mb-4 text-lg font-semibold font-serif text-gray-800">
      Accounts
    </h2>

    <p class="text-gray-600 mb-2">
      When you create an account with us, you must provide us information that
      is accurate, complete, and current at all times. Failure to do so constitutes
      a breach of the Terms, which may result in immediate termination of your
      account on our Service.
    </p>

    <p class="text-gray-600 mb-2">
      You are responsible for safeguarding the password that you use to access
      the Service and for any activities or actions under your password, whether
      your password is with our Service or a third-party service.
    </p>

    <p class="text-gray-600">
      You agree not to disclose your password to any third party. You must
      notify us immediately upon becoming aware of any breach of security or
      unauthorized use of your account.
    </p>
  </section>

  <section class="mb-8">
    <h2 class="mb-4 text-lg font-semibold font-serif text-gray-800">
      Termination
    </h2>

    <p class="text-gray-600 mb-2">
      We may terminate or suspend access to our Service immediately, without
      prior notice or liability, for any reason whatsoever, including without
      limitation if you breach the Terms.
    </p>

    <p class="text-gray-600 mb-2">
      We may terminate or suspend your account immediately, without prior notice
      or liability, for any reason whatsoever, including without limitation if
      if you breach the Terms.
    </p>

    <p class="text-gray-600 mb-2">
      All provisions of the Terms which by their nature should survive
      termination shall survive termination, including, without limitation,
      ownership provisions, warranty disclaimers, indemnity and limitations of
      liability.
    </p>

    <p class="text-gray-600">
      Upon termination, your right to use the Service will immediately cease. If
      you wish to terminate your account, you may simply discontinue using the
      Service.
    </p>
  </section>

  <section class="mb-8">
    <h2 class="mb-4 text-lg font-semibold font-serif text-gray-800">
      Governing Law
    </h2>

    <p class="text-gray-600 mb-2">
      These Terms shall be governed and construed in accordance with the laws of
      Uttar Pradesh, India, without regard to its conflict of law provisions.
    </p>

    <p class="text-gray-600">
      Our failure to enforce any right or provision of these Terms will not be
      considered a waiver of those rights. If any provision of these Terms is
      held to be invalid or unenforceable by a court, the remaining provisions
      of these Terms will remain in effect. These Terms constitute the entire
      agreement between us regarding our Service, and supersede and replace any
      prior agreements we might have between us regarding the Service.
    </p>
  </section>

  <section class="mb-8">
    <h2 class="mb-4 text-lg font-semibold font-serif text-gray-800">
      Updates and Changes
    </h2>

    <p class="text-gray-800 mb-2">
      We reserve the right, at our sole discretion, to modify or replace these
      Terms at any time.
    </p>

    <p class="text-gray-800">
      By continuing to access or use our Service after those revisions become
      effective, you agree to be bound by the revised terms. If you do not agree
      to the new terms, please stop using the Service.
    </p>
  </section>

  <section>
    <h2 class="mb-4 text-lg font-semibold font-serif text-gray-800">
      Contact Us
    </h2>

    <p class="text-gray-800">
      If you have any questions about these Terms, please contact us on
      +91 120-XYZ-ABCD or mail us on <%= mail_to "board@lbaoa.com", class: "text-indigo-600" %>.
    </p>
  </section>
</main>
